body {
    margin: 0;
}

.power-section {
    width: 500px;
    margin: 20px auto;
    font-family: sans-serif;
}

.power-row {
    display: flex;
    align-items: center;
    position: relative;
}

.power-header {
    background-color: #8B4513;
    height: 50px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 85px; /* Adjust padding to compensate for removed margin */
    position: relative; /* Needed for z-index */
    z-index: 2; /* Ensure text is above image */
}

.power-icon {
    width: 75px;
    height: 75px;
    object-fit: cover;
    position: relative; /* Needed for positioning */
    z-index: 1; /* Ensure image is behind text */
}

.power-content {
    background-color: #000;
    color: #fff;
    padding: 20px;
    min-height: 200px;
    margin-top: -35px;
}

.header-text {
    color: white;
}